@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #dadada;
  scroll-behavior: smooth;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#imagery .imgright {
  position: relative;
  display: flex;
align-items: center;
justify-content:center;
  width: 60%;
  height: 100%;
  
  margin-left: 20px;
 }

 #imagery .imgright .imagecenter{
  position: absolute;
    /* top:20%; */
    left: 50%;
    
    
  
    border-radius: 2vw;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
 } 

 #imagery .imgright .imagecenter:hover{
  filter: grayscale(0);
  transform: scale(1.1);
  z-index: 99;
  
 }

 #imagery .imgright .imagecenter .spic:hover{
  transform: translate(-30%,-8%) rotate(-60deg);
 }
  
 #imagery .imgright :nth-child(1){
  transform: translate(-20%,-8%) rotate(-10deg);
  background-image:url(../public/images/me2.jpg) ;
  background-size: cover;
  background-position: center;
 }  
 

 #imagery .imgright :nth-child(2){
  transform: translate(-5%,0%) ;
  background-image:url(../public/images/meprofilepic.jpg) ;
  background-size: cover;
  background-position: center;
 }



 
#line1{
  left: 0;
  width: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)  1s;
  transition-delay: 0.1s;
}

#line2{
  right: 0;
  width: 100%;
  transition: cubic-bezier(0.19, 1, 0.22, 1)  1s;
}

#nav a:hover #line1{
  width: 100%;
}
#nav a:hover #line2{
  width: 0%;
}
 

